# GitLab Configuration (when SOURCE=gitlab)
GITLAB_API_URL=https://gitlab.yourdomain.io/api/v4
CONTRIBUTED_PROJECTS=123,456 # Optional: Specify project IDs to fetch commits from, separated by commas.
GITLAB_TOKEN=your_gitlab_token
GITLAB_USERNAME=your_gitlab_username

# GitHub Source Configuration (when SOURCE=github)
SOURCE_GITHUB_TOKEN=your_source_github_token
SOURCE_GITHUB_USERNAME=your_source_github_username
SOURCE_GITHUB_API_URL=https://api.github.com # Optional: defaults to https://api.github.com

# GitHub Destination Configuration (when DESTINATION=github)
GITHUB_API_URL=https://api.github.com/repos/your_username/your_repo
GITHUB_API_VERSION=2022-11-28
GITHUB_BRANCH_TO_COMMIT_TO=master # Default is master; change if needed.
GITHUB_USERNAME=your_github_username
GITHUB_EMAIL=your_email@domain.com
GITHUB_TOKEN=your_github_token

# Tool sources and destinations
SOURCE=gitlab # Supported: gitlab, github
DESTINATION=github # Default is github; change if needed.
